@import url('https://fonts.googleapis.com/css?family=Karla|Montserrat:300,400,900');

$ff-title: 'Karla', sans-serif;
$ff-serif: 'Montserrat', sans-serif;

$fw-light: 300;
$fw-normal: 400;
$fw-bold: 900;

// Home typography
.main-title {
  color: gray(4);
  font-size: 5rem;
  line-height: 0.95;

  & span {
    display: block; // Putting onto next line
    color: $primary;
    font-size: 5.8rem;
    text-align: right;
  }
}